{% extends 'base.html.twig' %}

{% block title %}Abonnements{% endblock %}

{% block titrePage %}{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset("css/abonnements.css") }}">
{% endblock %}
{% block body %}
    <center><h1 class="heading">Abonnements</h1></center>
    <section class="pricing py-5">
        <div class="container">
            <div class="row">
                <!-- Free Tier -->
                {% for offre in offres %}
                <div class="col-lg-4">
                    <div class="card mb-5 mb-lg-0">
                        <div class="card-body">
                            <h5 class="card-title text-muted text-uppercase text-center">{{ offre.libelle }}</h5>
                            <h6 class="card-price text-center">{{offre.prix}}€<span class="period">/mois</span></h6>
                            <hr>
                            <p>
                                {{ offre.description}}
                            </p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}