{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block titrePage %} {% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset("css/contact.css") }}">
{% endblock %}
{% block body %}

    <div id="formcontact">
        <section>
            <div class="texttop">
                <h2 class="heading">Contactez nous !</h2>

                <p>
                    Avez-vous des questions? N'hésitez pas à nous contacter directement. Notre équipe reviendra vers vous dans
                    une question d'heures pour vous aider.</p>
            </div>
            <form id="contact-form" name="contact-form" action="mail.php" method="POST" >
                <label for="name" class="">Nom</label>
                <input type="text" id="name" name="name">
                <label for="email" class="">Mail</label>
                <input type="text" id="email" name="email" class="form-control">
                <label for="subject" class="">Objet</label>
                <input type="text" id="subject" name="subject" class="form-control">
                <label for="message">Votre message</label>
                <textarea type="text" id="message" name="message" rows="2" class="form-control md-textarea"></textarea>
            </form>


            <center><a class="btn btn-primary">Envoyer</a></center>
        </section>
    </div>


{% endblock %}