{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}
{% block titrePage %}{% endblock %}
{% block stylesheets %}
        <link rel="stylesheet" href="{{ asset("css/accueil.css") }}">
{% endblock %}

{% block body %}

<div class="container">

        <center><img  src="{{ asset('images/menu/shark96.png') }}"></center>
        <h1 class="heading"> Bienvenue chez SharkFit </h1>
</div>
{% endblock %}
