{% extends 'base.html.twig' %}

{% block title %}Nouvelle Rubrique{% endblock %}

{% block body %}
    <div class="container">
    <h1>Créer une nouvelle rubrique</h1>

    {{ include('rubriques/_form.html.twig') }}

    <a href="{{ path('rubriques_index') }}">Retour à la liste</a>
    </div>
{% endblock %}
